.call-bar {
    background: #807DF0;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #ffffff;

}

.call-bar-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-items: center


}


.call-bar-grid h4 {
    margin-bottom: 5px;
}
.call-bar-grid h4:after {
        background: #111;
        width: 60px;
        height: 5px;
        content: "";
        display: block;
        margin-top: 10px;
        margin-right: auto;    
}

.call-bar-grid form{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.call-bar-grid form input{
    color: #000;
}

.call-bar-grid form button {
   background:  #000;
}

.call-bar-grid form{
    max-height: 55px;
}

.formcallbar {
    background: none;
}

@media only screen and (min-width: 346px) and (max-width: 1100px) {
    .call-bar-grid {
        grid-template-columns:1fr;
    }

    .call-bar-grid form{
        margin-top: 20px;
        grid-template-columns: minmax(150px, 350px) max-content;
    }
}

@media only screen and (max-width: 345px) {
    
    .call-bar-grid {
        grid-template-columns:1fr;
    }

    .call-bar-grid form{
        margin-top: 20px;
        grid-template-columns: minmax(150px, 350px) ;
    }

}
