.cases {
    padding: 100px 10px;
    background: url(/img/cases-bg.webp) repeat center center;
    background-size: cover;
}

.case-item>div:first-child {
    height: 100%;
    width: 100%;
    transition: .3s;
    border-radius: 11px;
    filter: grayscale(100%);
}

.flame {
    background: url(/img/flame.webp) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.naka {
    background: url(/img/naka.webp) no-repeat center center fixed;
    background-size: cover;
}

.freitas {
    background: url(/img/freitas.webp) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.wf {
    background: url(/img/wf.webp) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.jaine {
    background: url(/img/jaine.webp) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.destravar {
    background: url(/img/destravar.webp) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.conceito {
    background: url(/img/conceito.webp) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.conceito2 {
    background: url(/img/conceito2.webp) no-repeat center center;
    background-size: cover;
}

.santaluz {
    background: url(/img/santaluz.webp) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.vizzano {
    background: url(/img/vizzano.webp) no-repeat right center;
    background-size: cover;
}

.jj {
    background: url(/img/jj.webp) no-repeat center center;
    background-size: cover;
}

.jc {
    background: url(/img/jc.webp) no-repeat left top;
    background-size: cover;
}


.cases-content {
    display: grid;
    justify-items: center;
    position: relative;
    z-index: 4;
    gap: 60px;
}

.cases-content>section {
    width: 100%;
}

.case-item {
    max-width: 1130px;
    width: 100%;
    height: 510px;
    border-radius: 10px;
    border: 1px solid var(--main);
    position: relative;
    transition: .3s;
    text-shadow: 0 0 2px #000;
}

.cases-grid .btn {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.cases-grid .texto {
    position: relative;
    top: 23px;
}

.case-item:hover>div:first-child {
    filter: grayscale(0%);
}

.case-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.case-title h3 {
    color: var(--sec);
    font-weight: 600;
}

.case-title h2 {
    font-size: 4rem;
    line-height: 1.1em;
    font-weight: 700;
}

.ld {
    right: -30px;
    text-align: end;
}

.le {
    left: -30px;
}

@media only screen and (max-width:1220px) {

    .ld {
        right: 10px;
        text-align: end;
    }

    .le {
        left: 10px;
    }

}

@media only screen and (max-width: 800px) {

    .flame {
        background: url(/img/flame-mobile.webp) no-repeat center center;
        background-size: cover;
        background-attachment: initial;
    }

    .naka {
        background: url(/img/naka-mobile.webp) no-repeat center center;
        background-size: cover;
        background-attachment: initial;
    }

    .freitas {
        background: url(/img/freitas-mobile.webp) no-repeat center center;
        background-size: cover;
        background-attachment: initial;
    }

    .wf {
        background: url(/img/wf-mobile.webp) no-repeat center center;
        background-size: cover;
        background-attachment: initial;
    }

    .jaine {
        background: url(/img/jaine-mobile.webp) no-repeat center center;
        background-size: cover;
        background-attachment: initial;
    }

    .destravar {
        background: url(/img/destravar-mobile.webp) no-repeat center center;
        background-size: cover;
        background-attachment: initial;
    }

    .conceito {
        background: url(/img/conceito-mobile.webp) no-repeat center center;
        background-size: cover;
        background-attachment: initial;
    }

    .santaluz {
        background: url(/img/santaluz-mobile.webp) no-repeat center center;
        background-size: cover;
        background-attachment: initial;
    }

}

@media only screen and (max-width: 500px) {
    .case-item {
        height: 380px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 430px) {
    .case-title h2 {
        font-size: 3rem;
        line-height: 1.1em;
        font-weight: 700;
    }
}

@media only screen and (max-width: 400px) {
    .case-title h2 {
        font-size: 2.4rem;
        line-height: 1.1em;
        font-weight: 700;
    }
}