.product {
    padding-top: 120px;
    padding-bottom: 120px;
}

.product-grid {
    display: grid;
    grid-template-columns: max-content max-content minmax(300px, 600px);
    align-items: center;
    grid-gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.product-grid2 {
    display: grid;
    grid-template-columns: minmax(300px, 600px) 1fr ;
    grid-gap: 40px;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.product-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
}

.product h2 {
    margin-bottom: 20px;
}

.product h2::after {
    background: #9594E1;
    width: 60px;
    height: 6px;
    content: "";
    display: block;
    margin-top: 10px;

}

.product .btn {
    max-width: max-content;
    margin-top: 15px;
}

.product-grid iframe, .product-grid2 iframe {
    border-radius: 50px;
}

.product-grid p, .product-grid2 p {
    margin-left: 20px;
}

.iframe-product {
    display: grid;
    justify-items: center;
    grid-gap: 10px;
}


@media only screen and (max-width: 1150px) {
    .product-grid {
        grid-template-columns: 1fr;
    }

    .imagem-product {
        display: none;
    }

    .product-grid2 {
        grid-template-columns: 1fr ;
    }

    .product-grid p, .product-grid2 p {
        margin-left: 0px;
    }
}