.review {
    background: #F8F8F8;
    padding-top: 120px;
    padding-bottom: 120px;
}

.review h4{
    padding-bottom: 20px;
}

.review h4:after{
    background: #9594E1;
    width: 60px;
    height: 5px;
    content: "";
    display: block;
    margin-top: 10px;
    margin-right: auto;
}

.review-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 40px;
    justify-items: center
}