.termos-e-politica {
    padding-top: 100px;
    padding-bottom: 100px;
}

.termos-e-politica h5{
    margin-top: 20px;
    margin-bottom: 10px;
}

.termos-e-politica h6{
    margin-top: 50px;
}
.termos-e-politica p + p{
    margin-top: 5px;
}